* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.poster {
    text-align: center;
}

.meme-image {
    width: 100%;
    max-width: 500px;
    border: 10px solid #000;
}

h1 {
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    margin-top: 5px;
}
